.category {
  padding: 0px 4.68% 0 4.68%;
  max-width: 1366px;
  margin: 0 auto 60px;
}

.category-title {
  padding: 0;
  margin: 0 0 35px 0;

  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
}

.category-list {
  column-count: 2;
  column-gap: 9.37%;

  @include reset-list;
  margin: 0 0 7px 0;
}

.category__item {
  width: 100%;
  margin: 0 0 25px;
  padding: 0 0 0 0;
}

.category__link {
  display: block;
  margin: 0 auto;
  @include reset-link;
  color: $black;

  @include hovImg;

}


.category__image {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;

  @include hovImg;
}

.category__image img {
  width: 100%;
}

.category__name {
  margin: 0;
  padding: 0;

}

@media (min-width: $tabel-width) {

  .category {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 5.86% 0 5.86%;
    margin: 0 auto 45px;
  }

  .category-title {
    order: 1;
    margin: 0 0 55px 0;
    width: 70%;

    font-size: 28px;
    line-height: 33px;
  }

  .category-list {
    column-gap: 3.92%;
    width: 100%;
    order: 3;
  }

  .category__item {
    width: 100%;
    margin: 0 0 45px 0;
  }

  .category__link {
    width: 100%;
  }

  .category__image {
    margin: 0 0 18px 0;
  }

  .category__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

  .show {
    order: 2;
  }

  .category__show {
    margin: 5px 0 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .category {
    padding: 0px 98px 0 98px;
    margin: 0 auto 75px;
  }

  .category-title {
    font-size: 32px;
    line-height: 38px;
    margin: 0 0 65px 0;
  }

  .category-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
  }

  .category__item {
    width: 270px;
  }

  .category__item:nth-child(2) {
    order: 1;
  }

  .category__link {

  }

  .category__image {
    margin: 0 0 15px 0;
  }

  .category__image img {
    width: 270px;
  }

  .category__name {

  }

  .show {

  }

  .category__show {

  }

}
