.main-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 1366px;
  margin: 0 auto;

  .product_card & {
    justify-content: space-between;
    padding: 25px 15px 0;
  }
}

.main-nav__toggle {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;

  &::before {
    box-shadow: 0 6px $black;

    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    left: 0;
    height: 2px;
    background-color: $black;
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 0;
    left: 0;
    height: 2px;
    background-color: $black;
  }
}

.main-nav__logo {
  width: 100%;
  margin-bottom: 18px;

  @include hov;

  .product_card & {
    width: 75px;

  }
}

.main-nav__img {
  display: block;
  margin: 20px auto 25px;
  width: 75px;

  .product_card & {
    margin: 0;
  }
}

.main-nav__list {
  @include reset-list;
  width: 70%;

  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 15px;

  .product_card & {
    position: absolute;
    top: 63px;
    width: 100%;
    padding: 10px 0 10px 15px;
    background-color: $white;
    display: none;
  }
}

.main-nav__list-open {
  .product_card & {
    display: flex;
  }
}

.main-nav__item {
  padding: 0 25px 0 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  &:hover,:focus {
    opacity: 0.4;
  }
}

.main-nav__link {
  @include reset-link;
  color: $black;
}

.main-nav__link-icon {
  fill: $grey;
  &:hover,:focus {
    opacity: 0.4;
  }
  &:active {
    opacity: 0.7;
  }

  .product_card & {
    fill: $white;
  }
}

.main-nav__user-list {
  @include reset-list;
  width: 30%;
  padding: 0 15px 0 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  .product_card & {
    width: 61px;
    margin: 0 0 0 0;
    padding: 0;
  }
}

.main-nav__item--search {
  width: 18px;
  height: 16px;
}

.main-nav__item--search {

}

.main-nav__item--cart {
  margin: 0 0 0 25px;

  .product_card & {
    margin: 0 0 0 23px;
  }

}



@media (min-width: $tabel-width) {
  .main-nav {

    .product_card & {
      padding: 25px 45px;
    }

  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    margin-bottom: 35px;

    .product_card & {
      order: 1;
      margin: 0 225px 0 65px;
    }
  }

  .main-nav__img {
    margin: 25px auto 25px;
  }

  .main-nav__list {
    padding: 0 0 0 45px;

    .product_card & {
      position: static;
      display: flex;
      width: 235px;
      padding: 2px 0 0 0;

    }
  }

  .main-nav__item {
    padding: 0 35px 0 0;
  }

  .main-nav__link {
  }

  .main-nav__link-icon {
  }

  .main-nav__user-list {
    padding: 0 45px 0 0;

    .product_card & {
      width: 75px;
      order: 2;
    }
  }

  .main-nav__item--cart {
    margin: 0 0 0 35px;

    .main-nav__link-icon {
      width: 22px;
      height: 20px;
    }

    .product_card & {
      margin: 0 0 0 35px;
    }
  }

  .main-nav__item--search {

    .main-nav__link-icon {
      width: 20px;
      height: 20px;
    }
  }

}


@media (min-width: $desktop-width) {
  .main-nav {
    .product_card & {
      padding: 25px 98px;
    }
  }

  .main-nav__logo {
    margin-bottom: 45px;
    .product_card & {

      margin: 0 470px 0 310px;
    }
  }

  .main-nav__img {

  }

  .main-nav__list {
    padding: 0 0 0 98px;
    display: flex;
    flex-direction: column;

    .product_card & {
      flex-direction: row;
    }
  }

  .main-nav__item {
    margin: 0 0 25px 0;
  }

  .main-nav__link {
    position: relative;
    z-index: 10;

  }

  .main-nav__user-list {
    padding: 0 98px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .product_card & {
      justify-content: space-between;
      flex-direction: row;
      align-items: flex-start;
      padding: 0;
    }
  }

  .main-nav__item--cart {
    margin-bottom: 30px;
    .product_card & {
      margin-bottom: 0;
      order: 1;
    }
  }

  .main-nav__link-icon {

  }

  .main-nav__item--search {

  }

}
