.page-footer {
  background-color: $blackish-blue;
  padding: 50px 4.68% 0 4.68%;
  display: flex;
  flex-wrap: wrap;
}

.page-footer__tittle {
  width: 50%;
  margin: 0;
  padding: 0;

}

.page-footer__tittle-link {
  width: 145px;
  display: block;
  margin: 0 auto;
  @include hov;
}

.page-footer__logo {
  fill: $white;
}

.page-footer__nav-list {
  @include reset-list;
  margin: -21px 0 11px 0;
  width: 100%;
  height: 135px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.page-footer__nav-item {
  width: 145px;
  min-height: 21px;
  margin: 0 auto 23px;
}

.page-footer__nav-item:nth-child(n+3) {
  padding: 0 0 0 15px;
}

.page-footer__nav-item:nth-child(1) {
  padding-top: 45px;
}

.page-footer__nav-link {
  @include reset-link;
  color: $white;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  @include hov;
}





.page-footer__social-list {
  @include reset-list;
  width: 292px;
  margin: 0 auto 52px;
  padding: 0 105px 0 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $mobile-tabel-width) {
    width: 180px;
    padding: 0;
  }


}

.page-footer__social-item {

}

.page-footer__social-link {
  fill: $white;
  @include hov;
}

.page-footer__facebook {

}

.page-footer__instagram {

}

.page-footer__pin {

}

.page-footer__twitter {

}

@media (min-width: $tabel-width) {
  .page-footer {

  }

  .page-footer__tittle {
    width: 100%;
    margin: 0 0 33px 0;
  }

  .page-footer__tittle-link {
    width: 73px;
  }

  .page-footer__logo {

  }

  .page-footer__nav-list {
    width: 100%;
    height: auto;
    margin: 0 auto 35px;
    flex-direction: row;
    justify-content: center;
  }

  .page-footer__nav-item {
    width: auto;
    margin: 0 35px 0 0;
  }

  .page-footer__nav-item:nth-child(n+3) {
    padding: 0 0 0 0px;
  }

  .page-footer__nav-item:nth-child(1) {
    padding: 0 0 0 0px;
  }

  .page-footer__nav-item:last-child {
    margin: 0;
  }


  .page-footer__nav-item:nth-child(1) {
    order: 1;
  }

  .page-footer__nav-item:nth-child(2) {
    order: 2;
  }

  .page-footer__nav-item:nth-child(3) {
    order: 4;
  }

  .page-footer__nav-item:nth-child(4) {
    order: 3;
  }

  .page-footer__nav-item:nth-child(5) {
    order: 5;
  }

  .page-footer__nav-link {

  }

  .page-footer__social-list {


  }

  .page-footer__social-item {

  }

  .page-footer__social-link {

  }

  .page-footer__facebook {
    width: 8.75px;
  }

  .page-footer__instagram {
    width: 16.67px;

  }

  .page-footer__pin {
    width: 16.67px;

  }

  .page-footer__twitter {
    width: 17px;

  }
}

@media (min-width: $desktop-width) {
  .page-footer {

  }

  .page-footer__tittle {
    margin: 0 0 30px 0;
  }

  .page-footer__tittle-link {

  }

  .page-footer__logo {

  }

  .page-footer__nav-list {
    margin: 0 auto 30px;
  }

  .page-footer__nav-item {

  }

  .page-footer__nav-link {

  }

  .page-footer__social-list {
    width: 163px;

  }

  .page-footer__social-item {

  }

  .page-footer__social-link svg {
    width: auto;
  }

  .page-footer__facebook {

  }

  .page-footer__instagram {

  }

  .page-footer__pin {

  }

  .page-footer__twitter {

  }
}
