.show {
  @include reset-link;
  display: block;
  margin: 0 auto;
  width: 70px;
  text-align: center;

  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $blackish-blue;
  border-bottom: 2px solid $blackish-blue;

  @include hov;
}

@media (min-width: $tabel-width) {
  .show {
    order: 2;
    width: 80px;
    margin: 0 0 0 auto;
    height: 25px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }

}

@media (min-width: $desktop-width) {
  .show {
    margin: 8px 0 0 auto;
  }
}
