.street-collection {
  max-width: 1366px;
  margin: 0 auto 50px;
}

.street-collection__fall-wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 15px 15px 0 15px;
  background-image: url('../img/fall-diagonal.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.street-collection__fall {
  padding: 35px 0 40px 0;
  background-color: $grey;
}

.street-collection__subtitle {
  display: block;
  padding: 0;
  margin: 0 0 5px 0;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: $gray-squirrel;
}

.street-collection__title {
  display: block;
  padding: 0;
  margin: 0 0 20px 0;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  color: $blackish-blue;
}

.street-collection__button {
  width: 150px;
  padding: 20px 16px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  @include hov;
}

.street-collection__img {
  display: block;
  width: 320px;
  margin: 0 auto;
}

@media (min-width: $tabel-width) {
  .street-collection {
    width: 768px;
    margin: 0 auto;
    display: flex;
    padding: 0 5.86% 0 5.86%;
    margin-bottom: 85px;
  }

  .street-collection__fall-wrapper {
    order: 2;
    width: 47.79%;
    padding: 20px 20px 20px 0;
    display: flex;
  }

  .street-collection__fall {
    padding: 45px 0 0 50px;
    width: 100%;

  }

  .street-collection__subtitle {
    text-align: left;
    margin: 0;
  }

  .street-collection__title {
    text-align: left;
    margin: 0 0 30px 0;
    font-size: 32px;
    line-height: 38px;
  }

  .street-collection__button {
    margin: 0 0 0 0;
  }


  .street-collection__img {
    width: 354px;
    margin: 0 auto;
    margin: 0;

  }
}

@media (min-width: $desktop-width) {
  .street-collection {
    width: 1366px;
    padding: 0 98px 0 98px;
    margin-bottom: 115px;
  }

  .street-collection__fall-wrapper {
    width: 40.171%;
    padding: 30px 70px 30px 0;
  }

  .street-collection__fall {
    padding: 65px 0 0 70px;
  }

  .street-collection__subtitle {
    margin: 0 0 10px 0;
  }

  .street-collection__title {
    margin: 0 0 40px 0;
  }

  .street-collection__button {
    width: 200px;
    padding: 22px 60px;
  }


  .street-collection__img {
    width: 700px;
  }

}
